/* ===================== CARD ===================== */

div.card {
  width: 80vw;
  height: 80vh;

  max-width: 1100px;

  margin: 5rem auto 0;

  background-color: rgba(255, 255, 255, 0.9);

  animation: up 300ms;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

div.card section.avatar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border: 5px solid yellow;

  width: 30vw;
  height: 80vh;

  max-width: 500px;

  /* border-radius: 50%; */
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

div.card section.details {
  padding: 4rem 5rem;

  position: relative;

  display: grid;
  grid-template-rows: 1fr 4.5fr;
}

div.card section.details h1 {
  font-size: 3.6rem;
  font-weight: normal;
}

div.card section.details h1::after {
  content: '';

  position: absolute;

  height: 1.5px;
  width: 80%;
  min-width: 80%;
  max-width: 80%;

  background-color: black;

  top: 9rem;
  left: 5rem;

  animation: width 1s;
}

@keyframes width {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

div.card section.details h1::before {
  content: '';

  position: absolute;

  height: 6%;
  width: 2px;

  background-color: black;

  top: 4rem;
  left: 4rem;

  animation: height 1s;
}

@keyframes height {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

div.card section.details div.informations {
  align-self: flex-start;
}

div.card section.details div.information {
  padding: 1rem;

  border-bottom: 1px solid rgba(58, 56, 56, 0.17);
}

div.card section.details div.information:last-child {
  border: none;
}

div.card section.details div.information div:first-child {
  font-size: 1.5rem;
  font-weight: 400;

  color: rgb(144, 144, 144);
}

div.card section.details div.information div + div {
  font-size: 1.6rem;
  font-weight: 700;

  padding-left: 1rem;

  margin: 1.5rem 0;
}

div.card section.details div.information div > span {
  background-color: rgb(255, 255, 0);

  padding: 1rem;
  margin-top: 1rem;

  display: inline-block;

  border-radius: 5.5rem 1.5rem;
}

a.button {
  font-size: 2.4rem;
  font-weight: 700;

  border-radius: 0.8rem;
  border: none;

  background-color: rgb(255, 255, 0);
  color: rgb(90, 90, 90);

  padding: 1rem;
  margin-top: 2.5rem;

  width: 100%;

  text-align: center;

  transition: background-color 400ms ease-in-out;
}

a.button:hover {
  background-color: rgb(226, 226, 0);
}
