{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/cssInstructors/createInstructors.css">
    <title>Novo Instrutor - Gyn Manager</title>
{% endblock head %}

{% block content %}

    <form class="card" method="POST" action="/instructors">
        <section class="avatar"></section>
        <section class="details">
            <h1>Novo Instrutor</h1>

            {% include "instructors/fields.njk" %}

        </section>
    </form>

{% endblock content %}