{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/cssInstructors/editInstructors.css">
  <title>Novo Instrutor - Gyn Manager</title>
{% endblock head %}

{% block content %}

  <div class="card">
    <section class="avatar" style="background-image: url({{ instructor.avatar_url }});"></section>

    <section class="details">
      <form method="POST" action="/instructors?_method=PUT">
        <!--atraves de uma query estamos passando o metodo PUT para o formulário-->
        <h1>Editar Instrutor</h1>

        {% include "instructors/fields.njk" %}

        <button class="save" type="submit">Salvar</button>

        <input type="hidden" name="id" value="{{instructor.id}}">
      </form>

      <form id="form-delete" method="POST" action="/instructors?_method=DELETE">
        <input type="hidden" name="id" value="{{instructor.id}}">
        <button class="delete" type="submit">Deletar</button>
      </form>

      <script>
        const formDelete = document.querySelector('#form-delete')
        formDelete.addEventListener("submit", function (event) {
          const confirmation = confirm("Deseja deletar ?")
          if (!confirmation) {
            event.preventDefault()
          }
        })
      </script>

    </section>
  </div>

{% endblock content %}