{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar">

    </section>
    <section class="details">
        <h1>Detalhes</h1>

        <div class="informations">

            <div class="information">
                <div>Instrutor</div>
                <div>Arlan Biati</div>
            </div>

            <div class="information">
                <div>Idade</div>
                <div>25</div>
            </div>

            <div class="information">
                <div>Sexo</div>
                <div>Masculino</div>
            </div>

            <div class="information">
                <div>Acompanhamento</div>
                <div>Arlan Biati</div>
            </div>

            <div class="information">
                <div>Instrutor</div>
                <div>
                    <span>Musculação</span>
                    <span>CrossFit</span>
                    <span>Funcional</span>
                    <span>Funcional</span>
                    <span>Funcional</span>
                    <span>Funcional</span>
                </div>
            </div>

            <div class="information">
                <div>Desde</div>
                <div>21/08/2020</div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}